<nb-layout>
  <nb-layout-header>
    <div class="header-content">
      <app-home-header></app-home-header>
    </div>
  </nb-layout-header>

  <nb-layout-column>
    <div class="container-fluid">
      <div class="row justify-content-md-center">
        <div class="col-12">
          <div class="container-fluid">
            <div class="row justify-content-md-center">
              <div class="text col-12">
                <p>
                  <nb-icon nbPrefix icon="pin" pack="eva"></nb-icon>
                  Find your electronic city
                </p>
              </div>
              <div
                class="search col-sm-10 col-xs-10 col-md-7 col-lg-6 col-xl-6"
              >
                <nb-search type="rotate-layout"></nb-search>
              </div>
            </div>
          </div>
        </div>
        <div class="image-city col-12">
          <div class="container-fluid">
            <div class="row justify-content-md-center">
              <div
                class="image-col col-sm-10 col-xs-10 col-md-7 col-lg-6 col-xl-6 p-0"
              >
                <nb-card>
                  <nb-card-body>
                    <div class="image">
                      <img src="../../../../../assets/images/city.jpg" />
                    </div>
                  </nb-card-body>
                </nb-card>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nb-layout-column>

  <nb-layout-footer fixed>
    <p class="mb-0">
      &copy; 2020 Against isolation (AI) team.
    </p></nb-layout-footer
  >
</nb-layout>
