<form [formGroup]="form" (ngSubmit)="signUp()">
  <nb-form-field class="my-2">
    <nb-icon nbPrefix icon="email-outline" pack="eva"></nb-icon>
    <input
      formControlName="userName"
      fullWidth
      nbInput
      placeholder="User name"
      type="text"
    />
  </nb-form-field>
  <nb-form-field class="my-2">
    <nb-icon nbPrefix icon="unlock-outline" pack="eva"></nb-icon>
    <input
      formControlName="password"
      type="password"
      nbInput
      fullWidth
      placeholder="Password"
    />
  </nb-form-field>
  <nb-form-field class="my-2">
    <nb-icon nbPrefix icon="unlock-outline" pack="eva"></nb-icon>
    <input
      formControlName="confirmPassword"
      type="password"
      nbInput
      fullWidth
      placeholder="Confirm password"
    />
  </nb-form-field>
  <button nbButton class="my-2" fullWidth>Sign up</button>
</form>
